{% extends 'base.html'%}
{% block content%}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

<fieldset class="form-group">
      <legend class="border-bottom mb-4">new advertisement</legend>

      <div class="form-group">
      	      {{form.as_p}}

      </div>
  </fieldset>
  <fieldset class="form-group">
   <legend class="border-bottom mb-4">images</legend>

          <input id="id_image" type="file" class="" name="image">
          <input id="id_image1" type="file" class="" name="image">
          <input id="id_image" type="file" class="" name="image">
          <input id="id_image1" type="file" class="" name="image">
          <input id="id_image" type="file" class="" name="image">
          <input id="id_image1" type="file" class="" name="image">
          <input id="id_image" type="file" class="" name="image">
          <input id="id_image1" type="file" class="" name="image">
 </fieldset>
    <legend class="border-bottom mb-4"></legend>

  <input type="submit" value="Submit">

</form>

{% endblock %}