{% extends 'base.html'%}
{% block content%}
{% load crispy_forms_tags %}

        <div class="card mb-4">

           <div class="card-body">
            <h2 class="card-title">{{adv.title}}</h2>
<p class="card-text"> {{ adv.desc}}</p>
        </div>

{% for img in imgs %}
                       <img  class="img-thumbnail" src= {{ img.image.url }} width="200" height="200">
{%endfor%}



<table class="table table-bordered">
  <thead>
    <tr>
               <td colspan="2">Contact info</td>

     </tr>
  </thead>
  <tbody>
    <tr>
       <td>name:</td>
      <td>{{adv.name}}</td>
     </tr>
    <tr>
       <td>city:</td>
      <td>{{adv.city}}</td>
     </tr>
    <tr>
       <td>email:</td>
      <td>{{adv.email}}</td>
    </tr>
    <tr>
       <td>mobile:</td>
      <td>{{adv.mob}}</td>
    </tr>
  </tbody>
</table>

{% endblock %}