{% extends 'base.html'%}
{% block content%}
<style>
    .bs-example{
        margin: 30px;
        width: 900px;

    }
</style>


{% load crispy_forms_tags %}


<div class="bs-example">

    <form method="POST" enctype="multipart/form-data">

     {% csrf_token %}

<fieldset class="form-group">
      <legend class="border-bottom mb-4">{{form.title.value}}</legend>

      <div class="form-group">
                 {{form|crispy}}

      </div>
  </fieldset>
  <fieldset class="form-group">

  
     <legend class="border-bottom mb-4">images</legend>



{{ formsets.management_form }}
        <div class="row">

{% for formset in formsets.forms %}
<div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">

                  {% if formset.instance.image %}
 <img  class="card-img-top" src="/media/{{formset.instance.image}}"
 width="200" height="200">
{%else%}
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
                 {%endif%}
                <div class="card-body">

                   {{formset}}
                </div>
            </div>
</div>
    {%endfor%}

        </div>
 


 </fieldset>

  <input type="submit" value="update">
</form>
</div>
{% endblock %}