<nav class="navbar fixed navbar-light bg-info">
  <form class="form-inline">
    <input class="form-control mr-sm-2" style="min-width: 40%" type="search" placeholder=" Search for your item here" aria-label="Search">
     <input class="form-control mr-sm-2 " style="min-width: 40%" type="search" placeholder="search for your area here" aria-label="Search">

    <button style="float: right;" class="btn btn-outline-light text-dark  my-2 my-sm-0 custom-button-width text-right" type="submit">Search</button>
  </form>
</nav>

<!-- categories table -->
<div class="table-responsive">
<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col"><a href="/"><img src="https://img.icons8.com/color/48/000000/fiat-500.png">&nbsp;Vehicles</a></th>
      <th scope="col"><a href="/"><img src="https://img.icons8.com/color/48/000000/add-property-1.png">Properties</a></th>
      <th scope="col"><a href="/"><img src="https://img.icons8.com/color/48/000000/two-smartphones.png"> Mobile Phones & Accessories</a></th>
      <th scope="row"><a href="/"><img src="https://img.icons8.com/color/48/000000/tv.png">Electronics & Home Appliances</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><a href="/"><img src="https://img.icons8.com/color/48/000000/armchair.png"> Home & Garden</a></th>
      <th scope="row"><a href="/"><img style="max-height:2em;"src="https://img.icons8.com/color/48/000000/green-dress.png">Fashion & Beauty</a></th>
      <th><a href="/"><img style="max-height:2em;"src="https://img.icons8.com/color/48/000000/sloth.png">Pets</a></td>
      <th><a href="/"><img style="max-height:2em;" src="https://img.icons8.com/color/48/000000/baby-feet.png">Kids & Babies</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/"><img style="max-height:2em;" src="https://img.icons8.com/color/48/000000/cycling-road.png">Sporting Goods & Bikes</a></td>
      <th><a href="/"><img style="max-height:2em;" src="https://img.icons8.com/color/48/000000/musical-notes.png">Hobbies,Music,Art & Books</a></th>
      <th><a href="/"><img style="max-height:2em;"src="https://img.icons8.com/color/48/000000/find-matching-job.png">Jobs</a></th>
      <th><a href="/"><img style="max-height:2em;"src="https://img.icons8.com/color/48/000000/company.png">Business & Industrial</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/"><img style="max-height:2em;" class="rounded-circle"  src="https://img.icons8.com/color/48/000000/support.png">services</a></th>
      
  </tbody>
</table>
</div>